import { Middleware, Context } from "https://deno.land/x/alosaur@v0.34.0/mod.ts";

@Middleware(new RegExp("/"))
export class {{#classify}}{{name}}{{/classify}}Middleware implements MiddlewareTarget<TState> {

  onPreRequest(context: Context<TState>): Promise<void> {
    return null;
  }

  onPostRequest(context: Context<TState>): Promise<void> {
    return null;
  }
}
